.projectName {
    margin-bottom: -20px;
    text-align: center;
}

.projectMoc {
    margin-top: -20px;
    margin-bottom: -10px;
}

.headerProjects {
    text-align: center;
}

.ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ProjectItemContainer {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.ProjectItemContainer:hover .technologiesContainer {
    opacity: 1;
}

.technologiesContainer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 315px;
    height: 80%;
    position: absolute;
    top: 0;
    left: 10px;
    right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.technoPar {
    color: white;
    padding: 0;
    margin: 0px 5px 0px 5px;
    font-size: 18px;
    font-weight: bolder;
    align-self: center;
} 

.projectLinkContainer {
    display: flex;
    justify-content: center;
}

.projectLink {
    font-size: 18px;
}
