img {
    margin: 10px;
}

.contactLink {
    font-size: 18px;
}

.BigContactsContainer {
    margin-top: 20px;
    margin-right: 70px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flexContacts {
    display: flex;
    align-items: center;
    width: 100%;
}

.iconContacts {
    filter: drop-shadow(1px 1px 10px #FFF);
}